body {
    margin: 0;
    background: linear-gradient(to right, #5c6bc0, #512da8);
}

.bigcontainer {
  position: relative;
  z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--bigcontainer-color) ;
    border-radius: 10px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bigcontainer p {
    font-size: larger;
}