.voltar {
  position: relative;
  top: 100px; /* move pra baixo sem empurrar nada */
  left: 100px;
}

.voltar a{
  color: #5b5858;
}

.cart {
    padding: 110px 9% 30px;
}

.cartsolo a {
    color: #8c8787;
    font-weight: bold;
}

.cart-header {
    display: flex;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.cart-header span {
    flex: 1;
    text-align: center;
}

.cart-header span:first-child {
    flex: 2;
    text-align: left;
}

.cart-header span:nth-child(1),
.cart-item .product {
  flex: 2;
}

.cart-header span:nth-child(n+2),
.cart-item :is(.price, .quantity, .total-price, .remove) {
  flex: 1;
}


.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item .product {
    display: flex;
    align-items: center;
    flex: 2;
}

.cart-item img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.cart-item :is(.price, .quantity, .total-price) {
    flex: 1;
    text-align: center;
}

.cart-item .quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
}

.cart-item .remove {
    background: transparent;
    border: none;
    flex: 1;
}

.cart-item .remove i {
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.cart-total {
    width: 400px;
    margin: 50px 0 0 auto;
}

.cart-total h3 {
    margin-bottom: 15px;
}

.cart-total p {
    display: flex;
    justify-content: space-between;
}

.cart-total p:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.cart-total p:last-of-type {
    font-weight: bold;
}

.cart-total .btn {
    display: block;
    padding: 12px 30px;
    margin: 30px 0 0 auto;
}