img {
  display: block;
  max-width: 100%;
  height: auto;
}

.banner {
   width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
background-image: url(../img/feira.png);
background-color: #fff;
}

.banner h2{
    font-size: 2rem;
    background-color: var(--bigcontainer-color);
    border: 3px solid var(--body-color);
    border-radius: 9999px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .30);
    padding: 4px 12px;
}

/*Animações*/
.wave-container {
  position: absolute;
    z-index: 1;
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin-top: -105px;
    margin-bottom: 20px;
}
.wave {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    
    /* Gradiente com transparência */
    background: linear-gradient(to right, rgba(92,107,192,0.8), rgba(81,45,168,0.8));

    -webkit-mask: url(../img/wave.png) repeat-x;
    -webkit-mask-size: 1000px 100px;
    mask: url(../img/wave.png) repeat-x;
    mask-size: 1000px 100px;

    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}



.wave#wave1 {
    z-index: 1000;
    opacity: 0.9;
    background-position-x: 400px;
}
.wave#wave2 {
    z-index: 999;
    opacity: 0.4;
    background-position-x: 300px;
}
.wave#wave3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
.wave#wave4 {
    z-index: 999;
    opacity: 0.6;
    background-position-x: 100px;
}
@keyframes animate {
    0%,100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  gap: 2rem;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card__article {
  position: relative;
  overflow: hidden;
  width: 280px;
  flex: 0 0 280px;
}

.card__img {
  width: 272px;
  height: 240px;
  border-radius: 1.5rem;
  display: block;
  margin: 0 auto;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0;
}

.card__title {
  font-size: 1.40rem;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .30rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Hover animations */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}