.voltar {
  position: relative;
  top: 100px; /* move pra baixo sem empurrar nada */
  left: 100px;
}

.voltar a{
  color: #5b5858;
}

.produto-detalhe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 130px 9% 30px;
}

.produto-detalhe .produto-img {
    width: 500px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.25);
    background-color: #f0f0f0; /* cor de fundo se a imagem não preencher totalmente */
    background-position: center;
    background-size: cover;   /* cobre todo o container */
    background-repeat: no-repeat;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto-detalhe .produto-img:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 12px 32px rgba(0,0,0,0.35);
}


.produto-detalhe .title {
    font-weight: 600;
    line-height: 1;
    margin-top: 30px;
}

.produto-detalhe .rating i {
    color: #e35f26;
}

.produto-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.compra {
  display: flex;
  align-items: center;
  gap: 20px; /* espaço entre preço e botão */
  margin-top: 15px;
}

.price {
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  padding: 12px 30px;
  background: #222;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 9999px;
  margin-bottom: 20px;
}

.produto-detalhe .detailLoc {
    padding-top: 2px;
}

.produto-detalhe .detailLoc p {
    margin: 1px 0;
}

.line {
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.titulo {
  margin-left: 100px;
}
.comcontainer {
  position: relative;
  margin: 20px auto 0 auto;
  z-index: 10;
    width: 950px;
    padding: 30px;
    background-color: var(--bigcontainer-color);
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 70%);
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    display: flex;
    flex-direction: column;
}

.comment {
   margin: 10px;
  position: relative;
  z-index: 10;
    max-width: 1200px;
    padding: 30px;
    background-color: var(--bigcontainer-color);
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 70%);
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    display: flex;
    flex-direction: column;
}